<ion-header-bar class="bar-stable">
  <button class="button button-icon ion-navicon" menu-toggle="left"></button>
  <h1 class="title">Players</h1>
  <button class="button button-positive rounded-icon-btn" ng-click="openForm()">
    <span class="ion-android-add"></span>
  </button>
</ion-header-bar>

<ion-content>
  <no-record-found ng-if="players.length === 0 && !showForm" label="No player added!"></no-record-found>
  <section class="row responsive-sm responsive-md" ng-repeat="row in players track by $index" ng-init="rind = $index"
    ng-if="!showForm">
    <section class="col col-33" ng-repeat="player in row track by $index" ng-init="ind = $index">
      <div class="card border-radius-16">
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col-25">
              <img src="./img/{{player.position}}.svg" class="svg-icon" />
            </div>
            <div class="col-75">
              <h2>{{player.first_name}} {{player.last_name}}</h2>
              <p>
                Email: {{player.email}} <br>
                Position: {{player.position}}
              </p>
              <div class="text-end">
                <button class="button button-energized button-with-icon" ng-click="openForm(rind,ind)">
                  <span class="ion-android-create"></span>
                </button>
                <button class="button button-assertive button-with-icon" ng-click="remove(rind,ind)">
                  <span class="ion-trash-a"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section ng-if="showForm" class="row responsive-sm padding-vertical">
    <div class="col-25"></div>
    <div class="col-50">
      <h2>{{player.id?'Edit':'Add'}} Player</h2>
      <form name="playerForm" ng-submit="save()">
        <div class="list">
          <label class="item item-input b-r-10"
            ng-class="{'invalid-input': playerForm.first_name.$touched && playerForm.first_name.$invalid}">
            <span class="input-label">First Name</span>
            <input type="text" autofocus="true" required ng-model="player.first_name" id="first_name" name="first_name">
          </label>
        </div>
        <div class="list">
          <label class="item item-input b-r-10" ng-class="{'invalid-input': playerForm.last_name.$touched && playerForm.last_name.$invalid}">
            <span class="input-label">Last Name</span>
            <input type="text" required ng-model="player.last_name" id="last_name" name="last_name">
          </label>
        </div>
        <div class="list">
          <label class="item item-input b-r-10" ng-class="{'invalid-input': playerForm.email.$touched && playerForm.email.$invalid}">
            <span class="input-label">Email</span>
            <input type="email" required ng-model="player.email" id="email" name="email" validate-email>
          </label>
        </div>
        <div class="list">
          <label class="item item-input item-select b-r-10" ng-class="{'invalid-input': playerForm.position.$touched && playerForm.position.$invalid}">
            <div class="input-label">
              Position
            </div>
            <select required ng-model="player.position" name="position">
              <option value="" selected>Select</option>
              <option value="goalkeeper">Goalkeeper</option>
              <option value="defender">Defender</option>
              <option value="midfielder">Midfielder</option>
              <option value="forward">Forward</option>
            </select>
          </label>
        </div>
        <div class="row">
          <div class="col-50 padding-horizontal">
            <button class="button button-block button-stable b-r-10 w-50" type="clear"
              ng-click="closeForm()">Cancel</button>
          </div>
          <div class="col-50 padding-horizontal">
            <button class="button button-block button-positive b-r-10 w-50" type="submit">Save</button>
          </div>
        </div>
    </div>
    </form>
    </div>
    <div class="col-25"></div>
  </section>
</ion-content>